.container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* background-color: red; */
    left: 50%;
    top: 20%;
    right: 20%;
    width: 80%;
    margin: auto;
    width: 50%;
    padding-top: 50px;
}

.searchbar {
    top: 30%;
    margin-top: 10%;
}

.action_button {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.radius_option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radius_option p {
    color: red;
    padding-left: 15px;

}

.button_holder {
    display: flex;
    flex-direction: row;
}

.spinner {
    /* position: absolute; */
    margin-top: 20px;
}

.searchList {
    padding: 10px;
    border-bottom: 1px solid #d9d9db;
}