.parent{
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
}
.container {
    position: absolute;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* background-color: red; */
    left: 20%;
    top: -5%;
    right: 30%;
    width: 80%;
    /* margin: auto; */
    /* width: 50%; */
    padding-top: 50px;
}

.searchbar {
    top: 30%;
    margin-top: 10%;
    height: 33px;
}

.action_button {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.radius_option {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
}

.radius_option p {
    padding-left: 15px;

}

.button_holder {
    display: flex;
    flex-direction: row;
}

.spinner {
    /* position: absolute; */
    margin-left: 20px;
}

.searchList {
    padding: 10px;
    border-bottom: 1px solid #d9d9db;
    font-size: 18px;
}

.searchList:hover {
    cursor: pointer;
}

.search-and-button {
    /* display: flex; */
    /* flex-direction: row; */

}

.search-title {
    font-weight: bold;
    padding-top: 25px;
    font-size: 18px;
}

.scard {
    position: absolute;
    /* top:200px; */
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px 5px #d9d9db;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    left: 32.5%;
    z-index: 100;
    background-color: white;
    margin-top: 40px;
}
.scard2 {
    position: absolute;
    /* top:200px; */
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px 5px #d9d9db;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    left: 32.5%;
    z-index: 1000;
    background-color: white;
    margin-top: 40px;
}

.scard .stitle {

    font-weight: bold;
    font-size: 20px;
}
.scard2 .stitle {

    font-weight: bold;
    font-size: 20px;
}

.searchAndIcon {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.searchAndIcon input{

    padding-left: 50px;
}
.searchIconx{
    /* position: absolute; */
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;

    /* top: 10px; */
}
.searchIconx:hover{
      cursor: pointer;
}
.contain{
    display: flex;
    flex-direction: column;
    width: 80%;
}